[Unit]
Description=Servidor Web Flask - Projecte Qualitat de l'Aire
After=network.target

[Service]
WorkingDirectory=/home/ec2-user/app_code
ExecStart=/usr/bin/python3 -m flask run --host=0.0.0.0 --port=80
Restart=always

[Install]
WantedBy=multi-user.target